body{
    text-align:justify;
    background-image:url("../images/background9.jpg");
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    height:1000px;
   // font-family: 'Style Script', cursive;
    color:white;
}
.gallery{
    width:100vw;
    padding:20px 20px 20px 20px;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
}
.gallery img{
   width:420px;
   height:300px;
   margin:8px 8px 8px 8px;
   border-radius:15px;
   //box-shadow:0 0 60px rgb(3,190,252);
   transition:0.9s;
}
body{
   background-color: ;
}
.gallery img:hover {
   filter:darkscale(100%);
   transform:scale(1.2);
   display:flex;
}